<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.syyam.dietplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Suffering" />
        <activity android:name=".DisorederWebView" />
        <activity android:name=".ChoosePlan" />
        <activity android:name=".Schedule" />
        <activity android:name=".DailyAppContent" />
        <activity android:name=".WeeklyAppContent" />
        <activity android:name=".MonthlyAppContent" />
        <activity android:name=".OverallSchedule" />
        <activity android:name=".WeeklyDailyAppContent" />
        <activity android:name=".MonthlyDailyAppContent"></activity>
    </application>

</manifest>